body
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.css-input-selection, p
{
    align-items: center;
    font-weight: bold;
    
}
::placeholder
{
    color: #555;
    font-style: italic;
}
.css-add-button, .css-button
{
    background-color: gray;
    padding: 2.5px;
    color: white;
    border: none;
    display: inline-block ;
}

.interval-animation-js img
{
    width:150px;
    border-radius:10px;
}